<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            @*<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />*@
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <!--Login-->
                <NotAuthorized>
                    <!-- cuando no este autorizado redirecciona al login-->
                    <div align="center">
                        <Login></Login>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Error 404 no hay nada aqui.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
