@page "/RelacionLlaveHorario"
@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject DialogService dialogService
@inject NotificationService notificationService
@implements IDisposable
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@*Login*@
@attribute [Authorize]
@inject CustomAuthenticationStateProvider Auth
@inject HttpClient Http
@*Login*@

<AuthorizeView>
    <Authorized>
        <h3>Asignar Horarios</h3>
        @if (relacionLlaveHorario == null)
        {
            if (!_esAdmin || !_crear || !_borrar || !_editar || !_ver)
            {
                <text> No tiene permisos suficientes para estar aquí...</text>
            }
        }
        else
        {
            if (_esAdmin || _crear || _borrar || _editar || _ver)
            {
                if (_esAdmin || _crear || _borrar || _editar)
                {
                    <div class="form-group">
                        <a class="btn btn-info" href="/RelacionLlaveHorario/Crear">Agregar Permisos</a>
                    </div>
                }
                <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="20"
                            AllowSorting="true" Data="@relacionLlaveHorario" TItem="RelacionLlaveHorario" ColumnWidth="200px">
                    <Columns>
                        <RadzenGridColumn TItem="RelacionLlaveHorario" Property="Id" Title="Id">
                            <Template Context="data">
                                @if (_esAdmin || _editar)
                                {
                                    <a href="/RelacionLlaveHorario/Editar/@data?.Id"> @data?.Id </a>
                                }
                                else
                                {
                                    @data?.Id
                                }
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="RelacionLlaveHorario" Property="IdLlave" Title="Llave">
                            <Template Context="data">
                                @llave.Where(x => x.Id == @data?.IdLlave).Select(x => x.Descripcion).FirstOrDefault()
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="RelacionLlaveHorario" Property="IdHorario" Title="Horario">
                            <Template Context="data">
                                @horario.Where(x => x.Id == @data?.IdHorario).Select(x => x.Dia + "  " + x.HoraInicio.ToString("hh:mm tt") + "  -  "+x.HoraFin.ToString("hh:mm tt")).FirstOrDefault()
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="RelacionLlaveHorario" Property="Activo" Title="Activo">
                            <Template Context="data">
                                @if (@data.Activo)
                                {
                                    <label>SI</label>

                                }
                                else
                                {
                                    <label>NO</label>
                                }
                            </Template>
                        </RadzenGridColumn>
                        @if (_esAdmin || _borrar)
                        {
                            <RadzenGridColumn TItem="RelacionLlaveHorario" Property="" Title="Borrar">
                                <Template Context="data">
                                    <RadzenButton Click="@(()=> BorrarID(data?.Id))" Icon="delete" Style="margin-bottom: 20px; width: 80px" />
                                </Template>
                            </RadzenGridColumn>
                        }
                    </Columns>
                </RadzenGrid>
            }
            else
            {
                <text> No tiene permisos suficientes para estar aquí...</text>
            }
        }
    </Authorized>
    <NotAuthorized>
        <text> No tiene permisos suficientes para estar aquí...</text>
    </NotAuthorized>
</AuthorizeView>
@code
{
    IEnumerable<RelacionLlaveHorario> relacionLlaveHorario;
    IEnumerable<Llave> llave;
    IEnumerable<Horario> horario;
    int? id;
    public enum TipoMensaje { None, Exito, Error, Info };
    TipoMensaje tipoMensaje;
    BlazorCoockies blazorCoockies = new BlazorCoockies();
    bool _esAdmin;
    bool _ver;
    bool _crear;
    bool _editar;
    bool _borrar;
    int _idEmpresa;
    int _idSucursal;

    public void Dispose()
    {
        dialogService.OnOpen -= Open;
        dialogService.OnClose -= Close;
    }

    protected override async Task OnInitializedAsync()
    {
        dialogService.Dispose();
        var token = await Auth.GetTokenAsync();
        if (!string.IsNullOrEmpty(token))
        {
            Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
            await blazorCoockies.CoockieGetter(sessionStorage);
            await Cargar();
            _esAdmin = Boolean.Parse(blazorCoockies.EsAdmin.ToString());
            _ver = Boolean.Parse(blazorCoockies.VerUsuarios.ToString());
            _crear = Boolean.Parse(blazorCoockies.CrearUsuarios.ToString());
            _editar = Boolean.Parse(blazorCoockies.EditarUsuarios.ToString());
            _borrar = Boolean.Parse(blazorCoockies.BorrarUsuarios.ToString());
            _idEmpresa = int.Parse(blazorCoockies.IDUserEmpresa);
            _idSucursal = int.Parse(blazorCoockies.IDUserSucursal);
            dialogService.OnOpen += Open;
            dialogService.OnClose += Close;
        }
    }

    private async Task Cargar()
    {
        try
        {
            var httpResponse = await repositorio.Get<List<RelacionLlaveHorario>>("api/RelacionLlaveHorario");
            relacionLlaveHorario = httpResponse.Response;
            var httpResponse2 = await repositorio.Get<List<Llave>>("api/Llave");
            llave = httpResponse2.Response;

            var httpResponse3 = await repositorio.Get<List<Horario>>("api/Horario");
            horario = httpResponse3.Response;
        }
        catch
        {
            relacionLlaveHorario = null;
            llave = null;
            horario = null;
        }
    }

    async Task Borrar(RelacionLlaveHorario relacionLlaveHorario)
    {
        var responseHttp = await repositorio.Delete($"api/RelacionLlaveHorario/{relacionLlaveHorario.Id}");
        if (responseHttp.Error)
        {
            ShowNotification(TipoMensaje.Error);
        }
        else
        {
            await Cargar();
            ShowNotification(TipoMensaje.Exito);
        }
    }

    void BorrarID(int? _id)
    {
        id = _id;
        dialogService.Confirm("Estas seguro de querer borrar el id " + _id.ToString() + " ? ", "Aviso ", new ConfirmOptions() { OkButtonText = "Si", CancelButtonText = "No" });

    }

    void Open(string title, Type type, Dictionary<string, object> parameters, DialogOptions options)
    {
        StateHasChanged();
    }

    void Close(dynamic result)
    {
        if (result && id.HasValue)
        {
            RunSync();
        }
        else
        {
            ShowNotification(TipoMensaje.Info);
        }
    }

    private void RunSync()
    {
        Task.Run(async () => await Borrar(relacionLlaveHorario.Where(x => x.Id == id).FirstOrDefault())).ContinueWith(t => this.StateHasChanged()); ;
    }

    async Task ShowSimpleDialog() => await dialogService.OpenAsync("Simple Dialog", ds =>
    @<RadzenCard Style="padding: 20px;">
        <p Style="margin-bottom: 10px;">Confirm?</p>
        <div class="row">
            <div class="col-md-12">
                <RadzenButton Text="Ok" Click="() =>  ds.Close(true)" Style="margin-bottom: 10px; width: 150px" />
                <RadzenButton Text="Cancel" Click="()=> ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" Style="margin-bottom: 10px; width: 150px" />
            </div>
        </div>
    </RadzenCard>
    );

    void ShowNotification(TipoMensaje tipoMensaje)
    {
        switch (tipoMensaje)
        {
            case TipoMensaje.Exito: // exito
                ShowNotification(new NotificationMessage() { Severity = NotificationSeverity.Success, Summary = "Success Summary", Detail = "Exito al Eliminar Registro", Duration = 2000 });
                break;
            case TipoMensaje.Error://error
                ShowNotification(new NotificationMessage() { Severity = NotificationSeverity.Error, Summary = "Error Summary", Detail = "Error al borrar registro", Duration = 2000 });
                break;
            case TipoMensaje.Info://info
                ShowNotification(new NotificationMessage() { Severity = NotificationSeverity.Info, Summary = "Info", Detail = "No se borro nada", Duration = 2000 });
                break;
        }
    }

    async Task ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);
    }
}